body {
    background: whitesmoke;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    touch-action: none;
}

.draggable {
    cursor: grab;
    touch-action: none;
}

.draggable.dragging {
    cursor: grabbing;
}

.outliner {
    background: white;
    border: 1px solid black;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    transition-property: transform, box-shadow;
    transition-duration: .15s;
    max-width: 800px;
    padding: 1em;

    &.moving {
        box-shadow: 2px 2px 15px #00000080;
    }

    & > [role="heading"] {
        min-height: 1em;
        margin: -1em -1em 0;
        padding: .5em;
        font-weight: bold;
        background: red;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            border: 0;
            border-radius: 2px;
            opacity: .5;
            transition-property: opacity;
            transition-duration: .1s;
        }

        button:hover {
            opacity: .8;
        }
    }

    table {
        border-collapse: collapse;
        font-family: monospace;
        margin: 0.5em auto;
        width: 100%;

        tr:not(:first-child) {
            border-top: 1px solid lightgray;
        }

        td {
            padding: .3em .5em;

            &:first-child {
                border-right: 1px dashed darkgray;
                text-align: right;
            }

            &:nth-child(2) {
                max-width: 15em;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:only-child {
                text-align: right;
                border-right: none;
            }
        }
    }

    pre[role="textbox"] {
        margin: .5em 0;
        border: 1px none gray;
        border-bottom-style: dashed;
        padding-right: .5em;
        font-family: monospace;
        outline: none;

        &::before {
            content: '>';
            padding-right: .3em;
            color: gray;
            font-weight: bold;
        }
    }
}


