body {
    background: whitesmoke;
    font-family: sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    touch-action: none;
    padding: 1px 6px;
    text-align: center;
}

button[disabled] {
    cursor: default;
}

.draggable {
    cursor: grab;
    touch-action: none;
    user-select: none;
}

.draggable.dragging {
    cursor: grabbing;
}

.outliner {
    background: white;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
    transition-property: transform, box-shadow;
    transition-duration: .15s;
    max-width: 800px;
    padding: 1em;

    &.moving {
        box-shadow: 2px 2px 15px #00000080;
    }

    &.hovered {
        box-shadow: 0 0 10px coral;
        transition-duration: .1s;
    }

    & > [role="heading"] {
        min-height: 1em;
        margin: -1em -1em 0;
        padding: .5em;
        font-weight: bold;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1px;

        span:first-child {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            pointer-events: none;
        }

        button {
            margin-left: calc(.5em - 1px);
            border: 0;
            border-radius: 2px;
            opacity: .5;
            transition-property: opacity;
            transition-duration: .1s;
        }

        button:hover {
            opacity: .8;
        }
    }

    &[data-type="object"] > [role="heading"] {
        background: grey;
    }

    &[data-type="error"] > [role="heading"] {
        background: red;
    }

    &[data-type="function"] > [role="heading"] {
        background: blue;
    }

    &[data-type="revoked-proxy"] > [role="heading"] {
        --color1: #ff5500;
        --color2: #ff7700;

        background: repeating-linear-gradient(
            45deg,
            var(--color1), var(--color1) 10px,
            var(--color2) 10px, var(--color2) 20px
        );
    }

    &[data-type="primitive"] > [role="heading"] {
        background: #009688;
    }

    &[data-type="primitive"] .stereotype {
        font-family: sans-serif;
        text-align: center;
        font-style: italic;
        margin-top: .5em;
        color: #2d2d2d;
    }

    table {
        border-collapse: collapse;
        font-family: monospace;
        margin: 0.5em auto;
        width: 100%;

        tr:not(:first-child) {
            border-top: 1px solid lightgray;
        }

        td {
            padding: .3em .5em;

            &:first-child {
                border-right: 1px dashed darkgray;
                text-align: right;
            }

            &:nth-child(2) {
                max-width: 15em;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:nth-child(3) {
                text-align: right;
                display: flex;
                gap: 1px;
                justify-content: end;
                align-items: center;

                button {
                    margin-left: calc(.5em - 1px);
                }
            }

            &:only-child {
                text-align: right;
                border-right: none;
            }
        }
    }

    pre {
        text-align: left;

        &:not([role="textbox"]) {
            overflow: auto;
            line-height: 1.5em;
            max-height: calc(5 * 1.5em);
            border: 1px dotted darkgray;
            padding: 1em;
        }

        &[role="textbox"] {
            margin: .5em 0;
            border: 1px none gray;
            border-bottom-style: dashed;
            padding-right: .5em;
            padding-left: 1em;
            font-family: monospace;
            outline: none;

            &::before {
                content: '>';
                padding-right: .3em;
                margin-left: -1em;
                color: gray;
                font-weight: bold;
            }
        }
    }
}

@keyframes traces {
    0% {stroke-dashoffset: 15}
    100% {stroke-dashoffset: 0}
}

.association {
    .arrow-end-area {
        background: transparent;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &:has(.arrow-end-area.dragging) {
        path {
            stroke-dasharray: 10 5;
            stroke-linecap: butt;
            animation: traces 1s infinite linear;
        }
    }
}

svg {
    --arrow-color: coral;
    pointer-events: none;

    .arrow {
        stroke: var(--arrow-color);
        fill: transparent;
        stroke-linecap: round;
        stroke-width: 4px;
        marker-start: url(#arrow-start);
        marker-end: url(#arrow-end);
        transition: stroke .5s ease-out;
    }

    &.arrow-hidden .arrow {
        stroke: transparent;
        transition: stroke 0s;
    }

    &.arrow-faded .arrow {
        stroke: color-mix(in srgb, var(--arrow-color) 20%, transparent);
        transition: stroke .2s;
    }

    #arrow-start {
        fill: var(--arrow-color);
        stroke: transparent;
    }

    #arrow-end {
        stroke: context-stroke;
        fill: transparent;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}

.shaking {
    transform-origin: center;
    animation-composition: accumulate;
    animation: shake 0.2s;
    animation-iteration-count: 2;
}

@keyframes shake {
    0% { transform: rotate(0deg); box-shadow: 0 0 5px #ff980070; }
    25% { transform: rotate(-1deg); box-shadow: 0 0 15px #ff980070; }
    50% { transform: rotate(1deg); box-shadow: 0 0 15px #ff980070; }
    75% { transform: rotate(0deg); box-shadow: 0 0 5px #ff980070; }
    100% { transform: rotate(1deg); }
}

svg.attribute-icon {
    pointer-events: all;
    cursor: default;
    user-select: none;
    display: inline-block;
    overflow: visible;
    width: 1em;
    height: 1em;
    padding: 0 .5em;
    opacity: .8;

    text {
        font-size: 1.3em;
        text-anchor: middle;
        dominant-baseline: central;
    }

    line {
        stroke-width: 3px;
        stroke: red;
        opacity: .8;
    }
}
